*{margin: 0;
padding: 0;}


body{
    background-color: blanchedalmond;
    font-family: 'Creepster', cursive;
}
 nav{
    font-family: 'Aclonica', sans-serif;
 }

    .row .col img {
    width: 275px;
height: 200px;
border-radius: 25px;
border-style: dotted;
padding: 20px;
}
 .agregados{
    width: 400px;
border-style: groove;
    border-color: blue;
    
}
/* .caja{
    
} */
footer{
    border-top: solid;
    background-color: darksalmon;
}

